.gradle/
build/
**/build/
local.properties
.idea/
*.iml
keystore.properties
*.jks
*.keystore
*.p12
*.pem

plugins/*.jar

app/libs/*.aar
app/libs/*.jar
!app/libs/README.md
!app/libs/.gitkeep

uniappx/libs/*.aar
uniappx/libs/*.jar
!uniappx/libs/README.md
!uniappx/libs/.gitkeep
uniappx/src/main/assets/apps/__UNI__BB37161/**
!uniappx/src/main/assets/apps/__UNI__BB37161/README.md

uts-*/libs/*.aar
uts-*/libs/*.jar

outputs/
*.apk
*.aab
